.formWizard-title {
	font-size: 1.1em;
}

.container {
	padding: 12px;
}

.formWizard-element {
	padding-top: 0.5px;
	padding-bottom: 15px;
	align: right;
}

.formWizard-label {
	font-weight: bold;
	font-style: italic;
	font-size: medium;
	padding-bottom: 5px;
}

.formWizard-popup-button {
	float: right;
}

#subpage-name {
	display: block;
	width: 30%;
	height: 20px;
	line-height: 3.5em;
}
